@media (max-width: 56em) {
  .heading-secondary {
    font-size: 5.4rem;
  }
}

@media (max-width: 46em) {
  .section-hero {
    background-size: cover;
    background-position: 60% 10%;
    height: 70vh;
  }

  .section-readmore {
    background-size: cover;
    background-position: 60% 10%;
    height: 70vh;
  }

  .heading-secondary {
    font-size: 5.2rem;
  }

  .section-between {
    height: 20rem;
  }

  .featured-card {
    width: 20rem;
    height: 15rem;
    border-radius: 11px;

    background-size: 125%;
  }

  .featured-text {
    font-size: 1.8rem;
    margin: 0 1.8rem;
  }
}

@media (max-width: 40em) {
  .heading-secondary {
    font-size: 4.8rem;
  }

  .section-content {
    margin-left: 5.2rem;
    margin-right: 0;
    margin-bottom: 2.4rem;
    gap: 3.6rem;
  }

  .section-between {
    height: 30rem;

    flex-wrap: wrap;
    gap: 0.2rem;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  .featured-card {
    width: 25rem;
    height: 12rem;
    border-radius: 11px;

    background-size: 150%;
  }

  .featured-text {
    font-size: 1.6rem;
    margin: 0 1.8rem;
  }
}

@media (max-width: 37em) {
  .heading-secondary {
    font-size: 3.6rem;
  }

  .featured-card {
    background-size: 150%;
  }

  .section-between {
    height: 30rem;

    flex-wrap: wrap;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  .featured-card {
    width: 25rem;
    height: 12rem;
    border-radius: 11px;

    background-size: 150%;
  }
}

@media (max-width: 25em) {
  .heading-secondary {
    font-size: 2.8rem;
  }

  .section-content {
    margin-left: 5.2rem;
    margin-right: 0;
    margin-bottom: 2.4rem;

    gap: 2.4rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1rem;
  }

  .btn--one {
    padding: 1rem 2rem;
  }

  .btn--two {
    padding: 1rem 4rem;
  }
  /* Cards   */

  .featured-card {
    background-size: 150%;
  }

  .section-between {
    height: 25rem;

    flex-wrap: wrap;

    padding: 1.8rem;
    gap: 2rem;
  }

  .featured-card {
    width: 15rem;
    height: 10rem;
    border-radius: 11px;

    background-size: 200%;
  }
}
